/* Breakpoints */

/* Colors */
$gray: #38393a;
$light-gray: #ccc;
$blue: #63bdf1;
$orange: #fda57d;

/* Overlays */
$white-overlay: rgba(255, 255, 255, 0.15);

/* Text */
$text-light: #c9cacb;
$text-mid: #888;
$text-dark: #333;